__pycache__/
*.py[cod]
*.blend1
.DS_Store
.python-version
data/dem/**
!data/dem/.gitkeep
data/osm/**
!data/osm/.gitkeep
data/cache/**
!data/cache/.gitkeep
output/*.blend
output/previews/**
!output/previews/.gitkeep
assets/landmarks/*.blend
